{% extends "base.html" %}

{% block title %}Rejestracja konta{% endblock %}

{% block body %}

{% use "navbar_login_out.html" with navbar as parent_navbar%}
{{ block('parent_navbar') }}
{% block navbar %}
{% endblock %}

  <header>
    <div class="d-flex justify-content-center p-3 text-center kolor" style="margin-top:50px">
      <h1 class="fw-bold display-6 "> <img src="/img/person-plus-fill.svg"
          class="d-inline-block align-text-top login" height="55" alt="">
        Rejestracja</h1>
    </div>
  </header>
  <section>
  <div class="container text-center" style="margin-top:20px">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p>Sukces! Dziękuję za rejestrację.</p>

        <p>Proszę sprawdź swój email w celu aktywacji konta.</p>
      </div>
    </div>
  </div>
</section>

  <div class="container border-top d-flex justify-content-center align-content-end" style="margin-top: 20% !important;">
    <footer class="py-3 my-4">
      <p class="text-center text-body-secondary">© 2023 Magdalena Brodala</p>
    </footer>
  </div>

{% endblock %}
