{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

{% use "navbar_login_in.html" with navbar as parent_navbar%}
{{ block('parent_navbar') }}
{% block navbar %}
{% endblock %}

  <header>
    <div class="d-flex justify-content-center mb-4 p-3 text-center kolor" style="margin-top: 60px">
      <h1 class="fw-bold display- "> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-cart-fill d-inline-block align-text-top " viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </svg>
        Dodaj wydatek</h1>
    </div>
    {% for message in flash_messages %}
  <div class="text-center alert alert-{{ message.type }}">
    {{ message.body }}
  </div>
  {% endfor %}
  </header>

  <section>
    {% if userErrors.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in userErrors.errors %}
                <li style="background-color: #FFFFFF !important;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container text-center" style="margin-top:10px">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2>Wprowadź dane:</h2>
          <form method="post" action="/expense/create">
          <div class="input-group my-3">
            <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg></span>
            <input id="inputamount" name="amount"type="number" min="1" class="form-control"  placeholder="Kwota" aria-label="Kwota"
              aria-describedby="basic-addon1" required>
          </div>
          <div class="input-group my-3">
            <span class="input-group-text" id="basic-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg></span>
            <input type="date" class="form-control" value="{{ currentDate }}" name="date" aria-label="2023-07-15"
              aria-describedby="basic-addon1" required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-hand-index-thumb-fill" viewBox="0 0 16 16">
                <path
                  d="M8.5 1.75v2.716l.047-.002c.312-.012.742-.016 1.051.046.28.056.543.18.738.288.273.152.456.385.56.642l.132-.012c.312-.024.794-.038 1.158.108.37.148.689.487.88.716.075.09.141.175.195.248h.582a2 2 0 0 1 1.99 2.199l-.272 2.715a3.5 3.5 0 0 1-.444 1.389l-1.395 2.441A1.5 1.5 0 0 1 12.42 16H6.118a1.5 1.5 0 0 1-1.342-.83l-1.215-2.43L1.07 8.589a1.517 1.517 0 0 1 2.373-1.852L5 8.293V1.75a1.75 1.75 0 0 1 3.5 0z" />
              </svg></label>
            <select class="form-select" id="inputGroupSelect01" name="paymentMethod">
              <option selected disabled>Wybierz sposób płatności</option>
              {% for userPaymentMethod in userPaymentMethods %}
            <option>{{ userPaymentMethod.name }}</option>
        {% endfor %}
            </select>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-hand-index-thumb-fill" viewBox="0 0 16 16">
                <path
                  d="M8.5 1.75v2.716l.047-.002c.312-.012.742-.016 1.051.046.28.056.543.18.738.288.273.152.456.385.56.642l.132-.012c.312-.024.794-.038 1.158.108.37.148.689.487.88.716.075.09.141.175.195.248h.582a2 2 0 0 1 1.99 2.199l-.272 2.715a3.5 3.5 0 0 1-.444 1.389l-1.395 2.441A1.5 1.5 0 0 1 12.42 16H6.118a1.5 1.5 0 0 1-1.342-.83l-1.215-2.43L1.07 8.589a1.517 1.517 0 0 1 2.373-1.852L5 8.293V1.75a1.75 1.75 0 0 1 3.5 0z" />
              </svg></label>
            <select class="form-select" id="inputGroupSelect02" name="expenseCategory">
              <option selected disabled>Wybierz kategorię</option>
              {% for userExpense in userExpenses %}
            <option>{{ userExpense.name }}</option>
        {% endfor %}
            </select>
          </div>

          <div class="input-group my-3">
            <span class="input-group-text" id="basic-addon3"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg></span>
            <input type="text" class="form-control" placeholder="Komentarz" name="comment" aria-label="Komentarz"
              aria-describedby="basic-addon1">
          </div>
          <div class="d-flex justify-content-between">
            <a class="col-4 col-md-3 col-lg-2 btn btn-outline-success btn-px-4 mb-5" href="/index"
              role="button" style="border-color: #cccac8 !important; background-color: #f1ded3 !important;">Anuluj</a>
              <button type="submit" class="col-4 col-md-3 col-lg-2 btn btn-outline-success btn-px-4 mb-5" role="button" style="border-color: #cccac8 !important; background-color: #e6f1d0 !important;">Dodaj</button></div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </section>


  <div class="container border-top d-flex justify-content-center align-content-end" style="margin-top: 15% !important;">
    <footer class="py-3 my-4">
      <p class="text-center text-body-secondary">© 2023 Magdalena Brodala</p>

    </footer>
  </div>
  
{% endblock %}